@import 'colors';
@import 'mixins';

.item {
    display: flex;
    flex-direction: column;
    gap: 4px;

    .label.danger {
        color: @ped-red-100;
    }

    .label {
    .text(400, 14px, 16px);
        color: @ped-grey-1100;
        margin: 0;

        &.primary {
            color: @ped-blue-100;
        }
    }

    .value {
    .text(400, 14px, 20px);
        color: @ped-black-100;
        margin: 0;
    }
}