<ng-container *transloco="let t">
  <div class="box-wrapper">
    <div class="top">
      <h1 class="title">{{ t("modules.diplomas.title") }}</h1>

      <button
        nz-button
        nzType="primary"
        class="refresh"
        (click)="onRefresh()"
        [nzLoading]="isLoading()"
      >
        <span nz-icon nzType="o:refresh"></span>
        {{ t("action.refresh") }}
      </button>
    </div>

    <div class="content">
      <ped-box-infinite
        [showContent]="!!items()?.length"
        [isLoading]="isLoading()"
        [customLayout]="true"
        [emptyTitle]="'empty.diplomas'"
      >
        @for (diploma of items(); track diploma.id) {
          @if (diploma.isNostrification) {
            <ped-diploma-card
              [institutionName]="diploma?.nostrificationInfo?.universityName"
              [specialityName]="diploma.nostrificationInfo?.specialization"
              [educationLevel]="diploma.nostrificationInfo?.specDegreeValue"
              [diplomaSerial]="diploma.nostrificationInfo?.serNumDipl"
              [givenDate]="diploma.nostrificationInfo?.givenDateDipl"
            />
          } @else {
            <ped-diploma-card
              [institutionName]="diploma.institutionName"
              [specialityName]="diploma.specialityName"
              [educationLevel]="
                diploma.educationLevel | enumItem: 'educationLevel'
              "
              [diplomaSerial]="diploma.diplomaSerial"
              [diplomaNumber]="diploma.diplomaNumber"
              [givenDate]="diploma.givenDate"
            />
          }
        }
      </ped-box-infinite>
    </div>
  </div>
</ng-container>
