@import 'mixins';
@import 'colors';

:host {
    flex: 1;
    padding: 28px 0;
    background: @ped-white-100;
    border-radius: 24px;

    .media(@media-sm, {
        padding-bottom: 110px;
    });

    .box-wrapper {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        height: 100%;
        flex: 1;
    }

    .container {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        height: 100%
    }

    .title {
        .text(600,24px,100%);

        .media(@media-sm, {
            font-size: 16px;
        });
        
    }

    .content {
        display: flex;
        column-gap: 16px;
        flex: 1;
    }

    .top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        row-gap: 20px;
        column-gap: 20px;

        .refresh {
          height: 30px;
          padding: 4px 15px;

          .media(@media-sm, {
              font-size: 12px;
          });

          [nz-icon] {
            color: @ped-white-100;
          }
        }
    }
}