@import "colors";
@import 'mixins';

:host {
  .step-dots {
    display: flex;
    gap: 8px;
    align-items: center;
    padding: 12px 16px;
    background: @ped-grey-100;
    border-radius: 20px;
    width: fit-content;
    pointer-events: none;
    user-select: none;

    .media(@media-sm, {
      padding: 0px;
      background: inherit;
    });

    .dot {
      width: 8px;
      height: 8px;
      background: @ped-grey-400;
      border-radius: 5px;
      transition: all 0.3s ease;

      &.active {
        background: @ped-black-100;
        width: 20px;
      }

      &.completed {
        background: @ped-black-100;
      }

      &:hover {
        opacity: 0.8;
      }
    }
  }
}
