@import 'colors';
@import 'mixins';

:host {
    display: flex;
    flex-direction: column;
    row-gap: 24px;

    .title {
        .text(600,20px,110%);
    }       

    .controls {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        flex: 1;

        .control {
            max-width: 360px;
            display: flex;
            flex-direction: column;
            row-gap: 6px;
        }
    }

    .desc {
        .text(400,18px,110%);
        text-align: center;
    }
}