@import 'colors';

:host {
    position: absolute;
    top: 30px;
    left: 30px;
    z-index: 100;
    width: 420px;
    display: block;
    border-radius: 16px;
    background: @ped-white-100;
    box-shadow: 0 4px 12px rgba(30, 30, 30, 0.15);
    height: calc(100svh - 96px - 66px);
    overflow: hidden;

    .place-box {
        height: 100%;
        
        ::ng-deep router-outlet + * {
            display: flex;
            flex-direction: column;
            width: 100%;
            min-height: 100%;
            height: 100%;
          }
    }
}
