@import "mixins";
@import "colors";

.logo {
  display: flex;
  align-items: center;
  width: auto;
  height: auto;
  white-space: wrap;
  text-align: start;
  padding: 0;
  margin: 0;

  .brand {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    
    .text(900, 44px, 100%);

    ::ng-deep svg {
      width: 140px !important;
      display: block;
      height: none !important;

      .media(@media-sm, {
        width: 96px !important;
      });
    }
  }
}