<div class="profile-self" *transloco="let t">
  <div class="avatar-section">
    <nz-avatar
      [nzSrc]="profile()?.passport?.photoUrl | src"
      [nzIcon]="'user'"
      class="avatar"
    />
  </div>

  <div class="info-section">
    <h3 class="name">{{ profile() | fullname }}</h3>
    <p class="role">{{ 'Pedagog' }}</p>

    <div class="contact-info">
      @if (profile()?.phoneNumber; as phoneNumber) {
        <div class="contact-item">
          <span nz-icon nzType="o:phone" class="icon"></span>
          <span class="text">{{ phoneNumber | phoneNumber }}</span>
        </div>
      }
      @if (profile()?.email; as email) {
        <div class="contact-item">
          <span nz-icon nzType="o:sms" class="icon"></span>
          <span class="text">{{ email }}</span>
        </div>
      }
      @if (profile()?.telegramUserName; as telegram) {
        <div class="contact-item">
          <span nz-icon nzType="f:telegram" class="icon"></span>
          <span class="text">{{ telegram }}</span>
        </div>
      }
    </div>
  </div>
</div>
