<ng-container *transloco="let t">
  <ped-appeal-self-top
    [number]="appeal()?.id"
    [status]="appeal()?.status"
    [loading]="isSurveyLoading()"
    (load)="loadSurveFile()"
    class="top"
  />

  <div class="box">
    <div class="content">
      <ped-appeal-self-user
        [status]="appeal()?.status"
        [user]="user()"
        (onEdit)="onEdit()"
        (onCancel)="onCancel()"
      />

      <ped-appeal-self-box [title]="t('appeal_application.info')">
        <div class="list">
          <ped-item
            [type]="'primary'"
            [label]="t('prop.application_number')"
            [value]="appeal()?.application?.applicationNumber"
          />
          <ped-item
            [type]="'primary'"
            [label]="t('prop.subject')"
            [value]="appeal()?.application?.subject?.value"
          />
          <ped-item
            [type]="'primary'"
            [label]="t('prop.application_type')"
            [value]="
              appeal()?.application?.applicationType
                | enumItem: 'applicationType'
            "
          />
          @if (appeal()?.application?.attestationType; as attType) {
            <ped-item
              [type]="'primary'"
              [label]="t('prop.attestation_Type')"
              [value]="attType | enumItem: 'attestationType'"
            />
          }
          <ped-item
            [type]="'primary'"
            [label]="t('prop.created_at')"
            [value]="
              appeal()?.application?.createdAt | date: 'dd.MM.yyyy HH:mm'
            "
          />
        </div>
      </ped-appeal-self-box>

      <ped-appeal-self-box [title]="t('appeal.info')">
        <div class="list">
          <ped-item
            [type]="'primary'"
            [label]="t('prop.complaint_name')"
            [value]="appeal()?.complaints?.at(0)?.name"
          />
          <ped-item
            [type]="'primary'"
            [label]="t('prop.complaint_variant_name')"
            [value]="appeal()?.complaints?.at(0)?.value"
          />
          <ped-item
            [type]="'primary'"
            [label]="t('prop.created_at')"
            [value]="appeal()?.createdDate | date: 'dd.MM.yyyy HH:mm'"
          />
          <ped-item
            [type]="'primary'"
            [label]="t('prop.comment')"
            [value]="appeal()?.comment"
          />
        </div>
      </ped-appeal-self-box>

      @let comment = appeal().statusHistories?.at(-1)?.comment;
      @if (comment) {
        <ped-appeal-self-box [title]="t('appeal.history')">
          <div class="list">
            <ped-item
              [type]="'primary'"
              [label]="t('prop.appeal_history_comment')"
              [value]="comment"
            />
          </div>
        </ped-appeal-self-box>
      }
    </div>
    <div class="sider"></div>
  </div>
</ng-container>
