@import 'mixins';
@import 'colors';

:host {
    display: flex;
    flex-direction: column;
    
    .title {
        .text(400,14px,110%);
        color: @ped-blue-300;
        margin-bottom: 16px;
        flex: 1;
    }

    .desc {
        .text(400,10px,110%);
        color: @ped-grey-1100;
        margin-bottom: 12px;
    }

    .group {
        display: flex;
        flex-wrap: wrap;
        column-gap: 24px;
        align-items: center;

        &.readonly {
            user-select: none;
            pointer-events: none;
        }
    }
}