<ng-container *transloco="let t">
  <p class="title">{{ title() }}</p>

  @if (desc(); as desc) {
    @if (showDesc()) {
      <p class="desc">{{ desc }}</p>
    }
  }

  <div [ngClass]="{ readonly: readonly() }" class="group">
    <label
      nz-checkbox
      [nzDisabled]="disabled()"
      [ngModel]="value() === 'yes'"
      (ngModelChange)="onCheckboxChange('yes', $event)"
    >
      {{ t("action.yes") }}
    </label>

    <label
      nz-checkbox
      [nzDisabled]="disabled()"
      [ngModel]="value() === 'no'"
      (ngModelChange)="onCheckboxChange('no', $event)"
    >
      {{ t("action.no") }}
    </label>
  </div>
</ng-container>
