@import "mixins";
@import "colors";

:host {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 32px;

  .media(@media-lg, {
    padding: 0 16px;
  });

  .statistics-header {
    width: 100%;
    margin: 48px 0 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
      margin: 0;
      .text(600, 40px, 100%);
    }
}

.region-map,
.statistics-chart {
  width: 49%;
  padding: 32px;
  margin-bottom: 32px;
  border-radius: 30px;
  background-color: @ped-grey-500;

  .media(@media-lg, {
    width: 100%;
  });

.media(@media-xs, {
  padding: 16px;
});

.top {
  display: flex;
  gap: 16px;
  margin-bottom: 32px;
  align-items: center;

  h3 {
    .text(700, 18px, 100%);
  }

  p {
    color: @ped-grey-700;
  }
}
}

.region-map {
  .bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    padding: 13px 30px;
    border: none;
    background-color: @ped-white-100;
    border-radius: 24px;

    p {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 4px;
      color: #7D8BA1;

      span {
        .text(700, 18px, 100%);
        color: @ped-black-100;
      }
    }
  }
}

.statistics-pie-charts {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 32px;

  &:has(ped-pie-card) {
    margin: 40px 0;
  }

  ped-pie-card {
    width: 49%;
    flex: none;

    .media(@media-lg, {
      width: 100%;
    });
}
}
}