<ng-container *transloco="let t">
  <div class="statistics-header">
    <h1>{{ t("statistics") }}</h1>
  </div>

  <div class="region-map">
    <div class="top">
      <ped-button-icon [icon]="'o:map'" />
      <div class="title">
        <h3>{{ t("applicationsCountByCountry") }}</h3>
        <p>{{ t("chooseRegion") }}</p>
      </div>
    </div>

    <ped-uzb-map [data]="statisticsData()" />

    <div class="bottom">
      <p>
        <span>{{ getTotalCount() }}</span>
        {{ t("allApplicationsCount") }}
      </p>
    </div>
  </div>

  <div class="statistics-chart">
    <div class="top">
      <ped-button-icon [icon]="'o:barLineChart'" />
      <div class="title">
        <h3>{{ t("applicationsCountByRegions") }}</h3>
      </div>
    </div>

    <ped-bar-card [data]="statisticsData()" />
  </div>

  <div class="statistics-pie-charts">
    @for (chart of pieCharts(); track chart.title) {
      <ped-pie-card [chartOptions]="chart.chartOptions" [title]="chart.title" />
    }
  </div>
</ng-container>
