@import "colors";
@import "mixins";

:host {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 24px;
    background: @ped-white-100;
    border-radius: 24px;

    .media(@media-sm, {
        padding: 20px;
        padding-bottom: 110px;
    });
    
    .box {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        max-width: 800px;
        margin: 0 auto;
        background: @ped-grey-100;
        height: calc(100vh - 200px);
        border-radius: 20px;
        padding: 20px;
        padding-left: 5px;

        .media(@media-sm, {
            background-color: @ped-white-100;
            padding-right: 5px;

            .radio-group {
                padding: 20px 0 !important;

                .option-box {
                    width: 100% !important;
                }
            }
        });

        h1 {
            font-weight: 600;
            font-size: 20px;
        }

        .radio-group {
            max-width: 1000px;
            padding: 20px 0px 20px 15px;
            height: calc(69svh);
            overflow-y: auto;
            overflow-x: hidden;
            width: 100%;
            justify-content: space-between;

            .scrollbar();

            .list {
                display: grid;
                grid-template-columns: repeat(2,1fr);
                gap: 20px;

                .media(@media-lg, {
                    grid-template-columns: repeat(1,1fr)
                });

            }

            .option-box {
                height: 100%;
                border-radius: 16px;
                border: 2px solid @ped-white-100;
                background: @ped-white-100;
                display: flex;
                padding: 16px 24px 24px 16px;
                gap: 8px;
                overflow: hidden;
                user-select: none;

                .media(@media-sm, {
                    border: 2px solid @ped-grey-300;

                    &.selected {
                        background: @ped-blue-200;
                    }
                });

                &.selected {
                    border: 2px solid @ped-blue-100;
                }

                h3 {
                    color: @ped-blue-100;
                    font-weight: 700;
                }

                h4 {
                    color: @ped-black-100;
                    font-weight: 400;
                }

                p {
                    margin-top: 12px;
                    color: @ped-grey-400;
                }
            }
        }

        .actions {
            width: 100%;
            padding: 20px 20px 20px 40px;
            display: flex;
            justify-content: flex-end;
            column-gap: 20px;
            flex: 1;
            align-items: flex-end;

            .media(@media-sm, {
                padding: 0px;
                flex-direction: column-reverse;
                row-gap: 20px;

                [nz-button] {
                    width: 100%;
                }
            });

            [nz-button] {
                min-width: 150px;
            }

            .cancel {
                background: @ped-white-100;
                border: 1px solid @ped-grey-200;
                box-shadow: none;
                color: @ped-black-100;
            }

            .submit {
                padding: 8px 20px;
                background-color: @ped-blue-100;
                color: @ped-white-100;

                &:disabled {
                    background-color: fade(@ped-black-100, 10%);
                    color: @ped-black-100;
                }
            }
        }
    }
}