<div class="top">
  <div class="texts">
    <p class="title">{{ title() }}</p>
    <p [ngClass]="{ empty: !subTitle() }" class="sub-title">
      {{ subTitle() ?? "--" }}
    </p>
  </div>

  @if (status(); as status) {
    <ped-chip>{{ status }}</ped-chip>
  }
</div>
<div class="options">
  @for (option of limitedOptions(); track option.key) {
    <ped-item
      [label]="option.key"
      [value]="option.value"
    >
    </ped-item>
  }
</div>
<div class="footer">
  <p>{{ footerText() }}</p>
  <button
    nz-button
    nzType="primary"
    class="ripple border"
    [routerLink]="link()"
    (click)="clicked.emit()"
  >
    {{ buttonText() }}

    <span nz-icon nzType="o:arrowLeft" nzRotate="180"></span>
  </button>
</div>
