<ng-container *transloco="let t">
  <p class="title">{{ t("application.check") }}</p>

  <div class="list">
    <div class="box">
      <p class="subtitle">{{ t("application.check.self") }}</p>

      @if (user(); as user) {
        <div class="card">
          <div class="item">
            <p class="label">{{ t("prop.fullname") }}</p>
            <p class="value">{{ user | fullname }}</p>
          </div>

          <div class="item">
            <p class="label">{{ t("prop.pinfl") }}</p>
            <p class="value">{{ user?.pinpp }}</p>
          </div>

          <div class="item">
            <p class="label">{{ t("prop.passport") }}</p>
            <p class="value">
              {{ user?.passport?.serial }}{{ user?.passport?.number }}
            </p>
          </div>

          <div class="item">
            <p class="label">{{ t("prop.birthdate") }}</p>
            <p class="value">{{ user?.birthDate | date: "dd.MM.yyyy" }}</p>
          </div>

          <div class="item">
            <p class="label">{{ t("prop.gender") }}</p>
            <p class="value">{{ user?.gender | gender }}</p>
          </div>
        </div>
      }
    </div>

    @if (diploma(); as diploma) {
      <div class="box">
        <p class="subtitle">{{ t("application.check.diploma") }}</p>

        <div class="card">
          <div class="item">
            <p class="label">{{ t("prop.edu_shape") }}</p>
            <p class="value">
              {{ diploma?.educationLevel | enumItem: "educationLevel" }}
            </p>
          </div>
          <div class="item">
            <p class="label">{{ t("prop.diploma_number") }}</p>
            <p class="value">
              {{ diploma?.diplomaSerial }}{{ diploma?.diplomaNumber }}
            </p>
          </div>
          <div class="item">
            <p class="label">{{ t("prop.institution") }}</p>
            <p class="value">
              {{ diploma?.institutionName }}
            </p>
          </div>
          <div class="item">
            <p class="label">{{ t("prop.specialty") }}</p>
            <p class="value">
              {{ diploma?.specialityName }}
            </p>
          </div>
          <div class="item">
            <p class="label">{{ t("prop.given_date") }}</p>
            <p class="value">
              {{ diploma?.givenDate | date: "dd.MM.yyyy" }}
            </p>
          </div>
        </div>
      </div>
    }

    @if (institution(); as institution) {
      <div class="box">
        <p class="subtitle">{{ t("application.check.institution") }}</p>

        <div class="card">
          <div class="item">
            <p class="label">{{ t("prop.region") }}</p>
            <p class="value">
              {{ institution?.district?.region?.name }}
            </p>
          </div>
          <div class="item">
            <p class="label">{{ t("prop.district") }}</p>
            <p class="value">
              {{ institution?.district?.name }}
            </p>
          </div>
          <div class="item">
            <p class="label">{{ t("prop.edu_direction") }}</p>
            <p class="value">
              {{
                attestationHelperForm.getRawValue().eduDirection
                  | enumItem: "eduDirection"
              }}
            </p>
          </div>
          <div class="item">
            <p class="label">{{ t("prop.institution") }}</p>
            <p class="value">
              {{ institution?.name }}
            </p>
          </div>
        </div>
      </div>

      @if (applicationForm.getRawValue(); as application) {
        @if (attestationHelperForm.getRawValue(); as helper) {
          <div class="box">
            <p class="subtitle">{{ t("application.check.attestation") }}</p>

            <div class="card last">
              @if (subject(); as subject) {
                <div class="item">
                  <p class="label">{{ t("prop.subject") }}</p>
                  <p class="value">
                    {{ subject?.name }}
                  </p>
                </div>
              }

              @if (helper.diplomaFile) {
                <div class="item">
                  <p class="label">{{ t("prop.diploma_file") }}</p>
                  <ped-item-file
                    [url]="helper.diplomaFile | fileToUrl"
                    [type]="helper.diplomaFile | fileType"
                    [name]="helper.diplomaFile | fileName"
                    [mayOpen]="true"
                  />
                </div>
              }
            </div>
          </div>
        }
      }
    }
  </div>
</ng-container>
