<ng-container *transloco="let t">
  <nz-radio-group
    [(ngModel)]="value"
    (ngModelChange)="onModelChange($event)"
    class="radio-group"
    [ngClass]="{ empty: !diplomas()?.length }"
  >
    <div class="list">
      @for (diploma of diplomas(); track diploma.id) {
        @if (diploma.isNostrification) {
          <label
            nz-radio
            [nzValue]="diploma.id"
            [ngClass]="{ selected: value() === diploma.id }"
          >
            <h3>{{ diploma.nostrificationInfo?.universityName }}</h3>
            <h4>{{ diploma.nostrificationInfo?.specialization }}</h4>
            <p class="item">
              {{ diploma.nostrificationInfo?.specDegreeValue }}
            </p>
            <p class="item">
              {{ diploma.nostrificationInfo?.serNumDipl }}
            </p>
          </label>
        } @else {
          <label
            nz-radio
            [nzValue]="diploma.id"
            [ngClass]="{ selected: value() === diploma.id }"
          >
            <h3>{{ diploma.institutionName }}</h3>
            <h4>{{ diploma.specialityName }}</h4>
            <p class="item">
              {{ diploma.educationLevel | enumItem: "educationLevel" }}
            </p>
            <p class="item">
              {{ diploma.diplomaSerial }}{{ diploma.diplomaNumber }}
            </p>
          </label>
        }
      } @empty {
        <ped-empty [title]="t('empty.diploma.title')">
          <div class="diploma-content">
            {{ t("empty.diploma.description") }}
            <a
              href="https://diplom.edu.uz"
              target="_blank"
              rel="noopener noreferrer"
              class="empty-link"
            >
              diplom.edu.uz
            </a>
          </div>
        </ped-empty>
      }
    </div>
  </nz-radio-group>
</ng-container>
