<ng-container *transloco="let t">
  <ped-collapsible-card [isOpen]="expanded()" (toggle)="toggleExpand()">
    <div header>
      <ped-item
        [label]="t('document.institution')"
        [value]="item()?.ownerInstitution"
      />
    </div>
    <div class="content">
      <ped-item [label]="t('prop.owner_name')" [value]="item()?.ownerName" />
      <ped-item [label]="t('prop.start_date')" [value]="item()?.createdDate" />
      <ped-item [label]="t('document.status')" [value]="item()?.status" />

      <button
        nz-button
        nzType="primary"
        class="ripple border"
        (click)="clicked.emit()"
      >
        {{ t("open_ekadr_doc") }}

        <span nz-icon nzType="o:arrowLeft" nzRotate="180"></span>
      </button>
    </div>
  </ped-collapsible-card>
</ng-container>
