<ng-container *transloco="let t">
  <div class="card">
    <div class="icon">
      <img src="/images/privilege.svg" alt="STC Certificate" />
    </div>

    <div class="content">
      <h3 class="certificate-title">{{ t("certificate.foreignLanguageTitle") }}</h3>

      <div class="info-row">
        <p class="label">{{ t("certificate.number") }}:</p>
        <p
          nz-typography
          [nzCopyable]="true"
          [nzCopyText]="number()"
          class="value"
        >
          {{ number() }}
        </p>
      </div>

      <div class="info-row">
        <p class="label">{{ t("certificate.subject") }}:</p>
        <p class="value">{{ subject() }}</p>
      </div>

      <div class="info-row">
        <p class="label">{{ t("certificate.level") }}:</p>
        <p class="value">{{ level() }}</p>
      </div>

      <div class="info-row">
        <p class="label">{{ t("certificate.score") }}:</p>
        <p class="value">{{ ball() }}</p>
      </div>

      <div class="info-row">
        <p class="label">{{ t("certificate.validPeriod") }}:</p>
        <p class="value">
          {{ startDate() }} - {{ endDate() }}
        </p>
      </div>
    </div>
  </div>
</ng-container>
