<ng-container *transloco="let t">
  <ng-template #emptyRef>
    <ped-empty [title]="emptyText()" />
  </ng-template>

  <nz-table
    #basicTable
    [nzData]="data()"
    [nzFrontPagination]="isFrontPagination()"
    [nzShowPagination]="showPagination()"
    [nzLoading]="isLoading()"
    [nzPageSize]="pageSize()"
    [nzPageIndex]="pageIndex()"
    [nzTotal]="total()"
    (nzPageIndexChange)="pageIndexChange.emit($event)"
    (nzPageSizeChange)="pageSizeChange.emit($event)"
    [nzNoResult]="emptyRef"
    [nzTableLayout]="'fixed'"
    class="table"
  >
    <thead>
      <tr>
        @for (column of columns(); track column.key) {
          <th [nzWidth]="column.width">{{ t(column.label) }}</th>
        }
      </tr>
    </thead>
    <tbody>
      @for (data of basicTable.data; track $index) {
        <tr>
          @for (column of columns(); track column.key) {
            <td>
              @if (column.render) {
                <ng-container
                  *ngComponentOutlet="
                    column.render;
                    inputs: { row: data };
                    injector: createInjector(data)
                  "
                ></ng-container>
              } @else {
                {{ data | tableColumn: column }}
              }
            </td>
          }
        </tr>
      }
    </tbody>
  </nz-table>
</ng-container>
