@import 'colors';
@import 'mixins';

:host {
    flex: 1;
    display: flex;
    flex-direction: column;

    .table {
        flex: 1;
        height: 100%;

        ::ng-deep nz-spin {
            height: 100%;
            display: flex;
            flex-direction: column;

            .ant-table-content {
                border: 1px solid @ped-grey-300;
                border-radius: 20px;
                overflow: hidden;
            }

            .ant-table-tbody > tr:last-child > td {
                border-bottom: none;
            }

            th {
                background: @ped-white-100;
                border-color: @ped-grey-300;
            }

            .ant-table-container, 
            .ant-table-content,
            .ant-table {
                height: 100%;
                display: flex;
                flex-direction: column;
            }

            .ant-spin-container {
                display: flex;
                flex-direction: column;
                flex: 1;
            }
        }
    }
}