<div class="seasons" *transloco="let t">
  <h1>{{ "currentSeasons" | transloco }}</h1>

  @if (isLoading()) {
    <ped-loading />
  } @else if (!!seasons()?.length) {
    <div class="swiper-wrapper-container">
      <ped-swiper-container #swiper [options]="swiperOptions()">
        @for (season of seasons(); track season.id) {
          <swiper-slide>
            <div class="season-card">
              <div class="left">
                <div class="top">
                  <ped-button-icon [icon]="'o:folder'" />
                  <p>{{ season.name }}</p>
                </div>
                <p class="bottom">
                  {{ season.description }}
                </p>
                <p class="more-info" (click)="handleViewDetails()">
                  {{ t("actions.view_details") }}
                  <span nz-icon nzType="o:arrowRight" class="icon"></span>
                </p>
              </div>

              <div class="right">
                <img [src]="getSeasonImage(season)" [alt]="season.name" />
              </div>
            </div>
          </swiper-slide>
        }
      </ped-swiper-container>

      <button class="swiper-btn prev-btn" (click)="swiper?.prev()">‹</button>

      <button class="swiper-btn next-btn" (click)="swiper?.next()">›</button>
    </div>
  } @else {
    <div class="empty-state">
      <p>{{ t("seasons.empty") }}</p>
    </div>
  }
</div>
