<ng-container *transloco="let t">
  <p class="subtitle">{{ t("profile.certificates") }}</p>

  @for (item of items(); track item.id) {
    <div class="box">
      <div class="card">
        <div class="item">
          <p class="label">{{ t("prop.cert_serial") }}</p>
          <p class="value">
            {{ item?.serial?.serialKey }}
          </p>
        </div>
        <div class="item">
          <p class="label">{{ t("prop.cert_number") }}</p>
          <p class="value">
            {{ item?.number }}
          </p>
        </div>
        <div class="item">
          <p class="label">{{ t("prop.subject") }}</p>
          <p class="value">
            {{ item?.subject?.name }}
          </p>
        </div>
        <div class="item">
          <p class="label">{{ t("prop.ped_category") }}</p>
          <p class="value">
            {{ item?.serial?.category | enumItem: "pedCategory" }}
          </p>
        </div>
        <div class="item">
          <p class="label">{{ t("certificate.givenDate") }}</p>
          <p class="value">
            {{ item.givenDate | date: "dd.MM.yyyy" }}
          </p>
        </div>
        <div class="item">
          <p class="label">{{ t("certificate.validityPeriod") }}</p>
          <p class="value">
            {{
              item.isEndless
                ? t("certificate.endless")
                : (item.expireDate | date: "dd.MM.yyyy")
            }}
          </p>
        </div>
      </div>
    </div>
  }
</ng-container>
