@import 'colors';
@import 'mixins';


.subtitle {
    .text(600,20px,110%);

    margin-bottom: 20px;
}

.box {
    display: flex;
    flex-direction: column;
    row-gap: 12px;  
    margin-bottom: 24px;

    .card {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 16px;
        padding: 24px;
        border: 1px solid @ped-grey-200;
        border-radius: 16px;
        background: @ped-white-100;

         .media(@media-md, {
            grid-template-columns: repeat(2, 1fr)
        });

        .media(@media-xs, {
            grid-template-columns: repeat(1, 1fr)
        });

        .item {
            display: flex;
            flex-direction: column;
            row-gap: 4px;

            .label {
                color: @ped-blue-100;
                font-size: 14px;
            }

            .value {
                font-size: 14px;
            }
        }
    }
}