@import "mixins";
@import "colors";

:host {
  flex: 1;
  padding: 28px 0;
  background: @ped-white-100;
  border-radius: 24px;

  .media(@media-sm, {
        padding-bottom: 110px;
    });

  .box-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    height: 100%;
    flex: 1;
  }

  .container {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    height: 100%;
  }

  .title {
    .text(600,24px,100%);

    .media(@media-sm, {
            font-size: 16px;
        });
  }

  .content {
    display: flex;
    column-gap: 16px;
    flex: 1;

    .active {
      box-shadow: 0 0 11px 0 #56c3dd;
      border-radius: 16px;
    }
  }

  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 20px;

    .media(@media-xs, {
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start
    });

    .right {
      display: flex;
      align-items: center;
      column-gap: 20px;

      .media(@media-xs, {
        flex: 1;
        width: 100%;
        justify-content: space-between;
        column-gap: 20px;
      });

      .mwp {
        .text(600,16px,110%);
        color: @ped-grey-400;

        .media(@media-sm, {
            font-size: 12px;
        });

        .name {
          color: @ped-black-100;
        }
      }

      
      .refresh {
        .media(@media-sm, {
          border-radius: 50%;
          width: 30px;
          height: 30px;
          padding: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          
          [nz-icon] {
            font-size: 20px;

            max-height: 20px;
            overflow: hidden;
          }
          .text {
            display: none;
          }
        });
      }
    }

    .refresh {
      height: 30px;
      padding: 4px 15px;

      .media(@media-sm, {
              font-size: 12px;
          });

      [nz-icon] {
        color: @ped-white-100;
      }
    }
  }
}
