<ng-container *transloco="let t">
  <div class="box-wrapper">
    <div class="top">
      <h1 class="title">{{ t("modules.toy.title") }}</h1>

      <div class="right">
        <p class="mwp">
          {{ t("prop.main_work_place") }}:
          <span class="name">{{ erpItem()?.district?.name }}</span
          ><br />
          {{ t("prop.last_updated_date") }}:
          <span class="name">{{
            erpItem()?.updatedAt | date: "dd.MM.yyyy"
          }}</span>
        </p>

        <button
          nz-button
          nzType="primary"
          class="refresh"
          (click)="refresh$.next()"
          [nzLoading]="isUpdating()"
          class="refresh"
        >
          <span nz-icon nzType="o:refresh"></span>
          <span class="text"> {{ t("action.refresh") }}</span>
        </button>
      </div>
    </div>

    <div class="content">
      <ped-box-infinite
        [showContent]="!!items()?.length"
        [isLoading]="isLoading()"
        [customLayout]="true"
        [emptyTitle]="'empty.toy'"
      >
        @for (item of items(); track item) {
          <ped-toy-card
            [ngClass]="{ active: item.isTeacherOfYear }"
            [fullName]="item.pedagogue | fullname"
            [regionName]="item.institution.district?.name"
            [districtName]="item.institution.district.region?.name"
            [institutionName]="item.institution?.name"
            [subjectName]="item.subject?.name"
            [theme]="item.videoSource?.name"
            [isTeacherOfYear]="item.isTeacherOfYear"
            [interviewScore]="item.interviewScore"
            [votingScore]="item.votingScore"
            (pointingClick)="onPointing(item?.videoSource?.id)"
          />
        }
      </ped-box-infinite>
    </div>
  </div>
</ng-container>
