<ng-container *transloco="let t">
  <div class="diploma-card">
    <div class="diploma-icon">
      <img src="images/diploma.svg" alt="Diploma" />
    </div>

    <div class="diploma-content">
      <div class="info-row">
        <p class="label">{{ t("diploma.universityName") }}:</p>
        <p class="value">{{ institutionName() }}</p>
      </div>

      <div class="info-row">
        <p class="label">{{ t("diploma.speciality") }}:</p>
        <p class="value">{{ specialityName() }}</p>
      </div>

      <div class="info-row">
        <p class="label">{{ t("diploma.educationLevel") }}:</p>
        <p class="value">
          {{ educationLevel() }}
        </p>
      </div>

      <div class="info-row">
        <p class="label">{{ t("diploma.diplomaSerialAndNumber") }}:</p>
        <p
          nz-typography
          [nzCopyable]="true"
          [nzCopyText]="diplomaSerial() + ' ' + diplomaNumber()"
          class="value"
        >
          {{ diplomaSerial() }} {{ diplomaNumber() }}
        </p>
      </div>

      <div class="info-row">
        <p class="label">{{ t("diploma.given_date") }}:</p>
        <p class="value">
          {{ givenDate() | date: "dd.MM.yyyy" }}
        </p>
      </div>
    </div>
  </div>
</ng-container>
