<ng-container *transloco="let t">
  <div class="card">
    <div class="icon">
      <img src="images/privilege.svg" alt="Certificate" />
    </div>

    <div class="content">
      <h3 class="certificate-title">{{ t("certificate.nationalTitle") }}</h3>

      <div class="info-row">
        <p class="label">{{ t("certificate.documentNumber") }}:</p>
        <p
          nz-typography
          [nzCopyable]="true"
          [nzCopyText]="documentSeries() + ' ' + documentNumber()"
          class="value"
        >
          {{ documentSeries() }} {{ documentNumber() }}
        </p>
      </div>

      <div class="info-row">
        <p class="label">{{ t("certificate.subject") }}:</p>
        <p class="value">{{ subject() }}</p>
      </div>

      <div class="info-row">
        <p class="label">{{ t("certificate.organization") }}:</p>
        <p class="value">{{ givenOrganization() }}</p>
      </div>

      <div class="info-row">
        <p class="label">{{ t("certificate.level") }}:</p>
        <p class="value">{{ certificateTypeLevelName() }}</p>
      </div>

      <div class="info-row">
        <p class="label">{{ t("certificate.validPeriod") }}:</p>
        <p class="value">
          {{ startDate() }} - {{ endDate() }}
        </p>
      </div>
    </div>
  </div>
</ng-container>
