<div
  [ngClass]="{ danger: danger(), vertical: vertical(), checked: active() }"
  [routerLink]="link()"
  routerLinkActive="active"
  (click)="clicked.emit()"
  class="menu-item"
>
  <div class="box" [ngClass]="{ vertical: vertical() }">
    @if (prefixIcon(); as prefixIcon) {
      <span nz-icon [nzType]="prefixIcon" class="prefix"> </span>
    }

    <span class="text">{{ label() }}</span>
  </div>

  @if (suffixIcon(); as suffixIcon) {
    <span
      nz-icon
      [nzType]="suffixIcon"
      [nzRotate]="suffixRotate()"
      class="suffix"
    >
    </span>
  }
</div>
