<ng-container *transloco="let t">
  <div class="info">
    <div class="desktop">
      <button
        nz-button
        routerLink="../../my-applications"
        nzType="primary"
        class="ripple grey"
      >
        <span nz-icon nzType="arrow-left"></span>
        {{ t("action.back") }}
      </button>

      <p class="number">{{ t("prop.app_number") }}: {{ number() }}</p>

      <ped-chip [color]="status() | applicationStatusColor: 2">{{
        status() | applicationStatus: type()
      }}</ped-chip>
    </div>

    <div class="mobile">
      <div class="col">
        <button
          nz-button
          routerLink="../../my-applications"
          nzType="primary"
          class="ripple grey"
        >
          <span nz-icon nzType="arrow-left"></span>
          {{ t("action.back") }}
        </button>

        <p class="number">{{ number() }}</p>
      </div>

      <div class="col">
        <ped-chip [color]="status() | applicationStatusColor: 2">{{
          status() | applicationStatus: type()
        }}</ped-chip>

        <button
          nz-button
          nzType="primary"
          [nzLoading]="loading()"
          class="ripple grey load load-mobile"
          (click)="load.emit()"
        >
          <span nz-icon nzType="o:download"></span>
          {{ t("action.application_load") }}
        </button>
      </div>
    </div>
  </div>

  <button
    nz-button
    nzType="primary"
    [nzLoading]="loading()"
    class="ripple grey load load-desktop"
    (click)="load.emit()"
  >
    <span nz-icon nzType="o:download"></span>
    {{ t("action.application_load") }}
  </button>
</ng-container>
