<div class="profile-main" *transloco="let t">
  <div class="info-grid">
    <div class="info-item">
      <p class="label">{{ t("profile.pinpp") }}:</p>
      <p class="value">{{ pinfl() }}</p>
    </div>

    <div class="info-item">
      <p class="label">{{ t("profile.passportNumber") }}:</p>
      <p class="value">{{ passport() | passportNumber }}</p>
    </div>

    <div class="info-item">
      <p class="label">{{ t("profile.birthDate") }}:</p>
      <p class="value">{{ birthDate() | date: "dd.MM.yyyy" }}</p>
    </div>

    <div class="info-item">
      <p class="label">{{ t("profile.gender") }}:</p>
      <p class="value">{{ gender() | gender }}</p>
    </div>

    <div class="info-item">
      <p class="label">{{ t("profile.workExperience") }}:</p>
      <p class="value">
        {{ workExperience() | daysToYears | pluralize: "year" }},
        {{ workExperience() | daysToRemainingMonths | pluralize: "month" }},
        {{ workExperience() | daysToRemainingDays | pluralize: "day" }}
      </p>
    </div>

    <div class="info-item">
      <p class="label">{{ t("profile.pedagogueExperience") }}:</p>
      <p class="value">
        {{ pedagogueExperience() | daysToYears | pluralize: "year" }},
        {{
          pedagogueExperience() | daysToRemainingMonths | pluralize: "month"
        }},
        {{ pedagogueExperience() | daysToRemainingDays | pluralize: "day" }}
      </p>
    </div>
  </div>
</div>
