@import 'colors';
@import 'mixins';

:host {
    padding: 16px;

    .media(@media-md, {
        padding: 0;
    });
    
    .afl {
        display: flex;
        flex-direction: column;
        padding: 24px;
        flex: 1;
        border-radius: 24px;
        background: @ped-white-100;

        .media(@media-sm, {
            padding: 16px;
            padding-top: 0;
            padding-bottom: 110px;
        });

        .box {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            flex: 1;
            width: 100%;
            max-width: 800px;
            margin: 0 auto;

            .media(@media-sm, {
                justify-content: flex-start;
                align-items: flex-start;
            });
        }
    }
}