@import "colors";

svg.svg-outline {
  color: currentColor;
  stroke: currentColor;
  fill: none;
}

svg.svg-fill {
  color: currentColor;
  stroke: none;
  fill: currentColor;
}

[nz-icon] {
  color: @ped-grey-400;
}
