.ant-modal-body {
    padding: 0;
}

.ant-modal-content {
    padding: 0;
    box-shadow: none;
    background: none;
}

.scale-modal {
    transform-origin: center !important;
    animation: zoomIn 0.3s ease-out !important;
}

.custom-modal {
    .ant-modal-content {
        border-radius: 24px;
    }

    .ant-modal-body {
        border-radius: 24px;
    }
}