<ng-container *transloco="let t">
  <div class="faq">
    <div class="header">
      <h2 class="title">{{ t("faq.title") }}</h2>
      <p class="description">
        {{ t("faq.description") }}
      </p>
    </div>

    <div class="faq-list">
      @for (item of faqItems(); track $index) {
        <div class="faq-item" [ngClass]="{ open: item.isOpen }">
          <div class="faq-row" (click)="toggle($index)">
            <div class="icon-wrapper">
              @if (item.isOpen) {
                <span nz-icon nzType="minus" nzTheme="outline"></span>
              } @else {
                <span nz-icon nzType="plus" nzTheme="outline"></span>
              }
            </div>
            <div class="faq-box">
              <p class="question">{{ t(item.questionKey) }}</p>
              <span nz-icon nzType="right" nzRotate="90" class="arrow"></span>
            </div>
          </div>
          <div [@collapse]="item.isOpen" class="faq-content">
            <div class="answer">
              {{ t(item.answerKey) }}
            </div>
          </div>
        </div>
      }
    </div>
  </div>
</ng-container>
