<nz-form-item>
  <nz-form-control
    [nzHasFeedback]="isFeedback()"
    [nzValidateStatus]="status()"
    [nzErrorTip]="message()"
    [nzValidatingTip]="message()"
    [nzWarningTip]="message()"
    [nzSuccessTip]="message()"
  >
    <nz-input-wrapper
      [nzSuffix]="suffixIcon()"
      [nzPrefix]="prefixIcon()"
      class="input-default group"
    >
      <input
        nz-input
        [mask]="mask()"
        [pattern]="pattern()"
        [readOnly]="readonly()"
        [type]="type()"
        [nzSize]="size()"
        [disabled]="disabled()"
        [id]="id()"
        [placeholder]="placeholder()"
        [(ngModel)]="value"
        [autocomplete]="autocomplete()"
        (ngModelChange)="onModelChange($event)"
        (click)="clicked.emit()"
        (focus)="focus.emit()"
        (blur)="blur.emit()"
      />
    </nz-input-wrapper>
  </nz-form-control>
</nz-form-item>
