:host {
  ::ng-deep .ant-input {
    height: 44px;
    border-radius: 10px;
  
    &-lg {
        height: 50px;
    }
  
    &-group {
        border-radius: 10px;
    }
  }

  ::ng-deep .ant-form-item-control-input, .input-default {
    border-radius: 10px !important;
  
    input {
      border-radius: 10px !important;
    }
  }
}