:host {
    [nz-button] {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 4px;
        border-radius: 12px;
        width: 36px;
        height: 36px;

        &::ng-deep svg {
            width: 18px;
            height: 18px;
        }

        &.ant-btn-lg {
            width: 48px;
            height: 48px;

            &::ng-deep svg {
                width: 22px;
                height: 22px;
            }
        }
    
        &.ant-btn-sm {
            width: 32px;
            height: 32px;
            border-radius: 6px;
    
            &::ng-deep svg {
                width: 16px;
                height: 16px;
            }
        }
    }
}