<ng-container *transloco="let t">
  <div class="box-container">
    <div class="links">
      <ped-logo routerLink="/" />
    </div>

    <div class="actions">
      <div class="header-buttons">
        <a
          href="https://t.me/Pedagoguzedu"
          target="_blank"
          rel="noopener noreferrer"
          nz-button
          class="header-btn telegram-btn"
        >
          <span nz-icon nzType="f:telegram" class="icon"></span>
          <span class="text">{{ t("telegram") }}</span>
        </a>

        <a nz-button class="header-btn check-btn" routerLink="check-certificate">
          <span nz-icon nzType="o:document" class="icon"></span>
          <span class="text">{{ t("check_cert") }}</span>
        </a>

        <a href="https://sinov.uz" target="_blank" rel="noopener noreferrer">
          <button nz-button class="header-btn malaka-btn">
            <span nz-icon nzType="o:check" class="icon"></span>
            <span class="text">{{ t("malakaTesti") }}</span>
          </button>
        </a>
      </div>

      <div class="mobile-buttons">
        <a href="https://sinov.uz" target="_blank" rel="noopener noreferrer">
          <button nz-button class="header-btn malaka-btn">
            <span nz-icon nzType="o:check" class="icon"></span>
            <span class="text">{{ t("malakaTesti") }}</span>
          </button>
        </a>
      </div>

      <a
        href="https://t.me/Pedagoguzedu"
        target="_blank"
        rel="noopener noreferrer"
        nz-button
        class="header-btn telegram-btn mobile-telegram"
      >
        <span nz-icon nzType="f:telegram" class="icon"></span>
      </a>

      <ped-language-menu
        (languageChange)="langChange$.next($event)"
        class="lang"
      />

      <button nz-button nzType="primary" class="sign-in" (click)="goMain()">
        {{ t("signIn") }}
      </button>
    </div>
  </div>
</ng-container>
