<ng-container *transloco="let t">
  <div class="card">
    <div class="icon">
      <img src="/images/privilege.svg" alt="Ustama Achievement" />
    </div>

    <div class="content">
      <h3 class="certificate-title">{{ t("achievement.ustama") }}</h3>

      <div class="info-row">
        <p class="label">{{ t("achievement.season") }}:</p>
        <p class="value">{{ seasonName() }}</p>
      </div>

      <div class="info-row">
        <p class="label">{{ t("achievement.subject") }}:</p>
        <p class="value">{{ subjectName() }}</p>
      </div>

      <div class="info-row">
        <p class="label">{{ t("achievement.givenCategory") }}:</p>
        <p class="value">{{ category() | enumItem: "pedCategory" }}</p>
      </div>

      <div class="info-row">
        <p class="label">{{ t("certificate.validPeriod") }}:</p>
        <p class="value">
          {{ givenDate() | date: "dd.MM.yyyy" }} -
          {{ validDate() | date: "dd.MM.yyyy" }}
        </p>
      </div>

      @if (downloadApi()) {
        <button
          nz-button
          nzType="primary"
          [nzLoading]="isLoading()"
          class="ripple border"
          (click)="onClick()"
        >
          {{ t("action.download") }}
          <span nz-icon nzType="o:arrowLeft" nzRotate="180"></span>
        </button>
      }
    </div>
  </div>
</ng-container>
