@import 'mixins';
@import 'colors';

:host {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
    position: sticky;
    top: 0px;
    left: 0px;
    background: @ped-white-100;
    z-index: 1;

    .media(@media-sm, {
        flex-direction: column;
        justify-content: unsafe;
        align-items: center;
        row-gap: 20px;
    });

    .infos {
        display: flex;
        flex-direction: column;
        row-gap: 6px;
        padding: 20px 10px;
        overflow: hidden;

        .media(@media-sm, {
            align-self: flex-start;
            padding: 20px 0 0 0;
        });
    
        .title {
            .text(600,20px,110%);
            color: @ped-black-300;
            word-break: break-all;

            .media(@media-sm, {
                font-size: 16px;
            });
        }

        .season {
            .text(400,14px,110%);
            color: @ped-grey-1100;
        }
    }

    .stepper {
        .media(@media-sm, {
            padding-bottom: 20px;
        });
    }
}