<ng-container *transloco="let t">
  <div class="video">
    <iframe
      title="Surxondaryo viloyati Jarqo'rg'on tumani 13-maktab Xujamberdiyev Ural Tarix 13.02.2026_001"
      width="560"
      height="315"
      src="https://tube.uzedu.uz/videos/embed/vWKJHUkiRx1wqB3J8pGq7d"
      allow="fullscreen"
      sandbox="allow-same-origin allow-scripts allow-popups allow-forms"
      style="border: 0px"
    ></iframe>
  </div>

  <div class="card">
    <div class="header">
      <p class="warning">
        <nz-icon nzType="c:information" /> {{ "text.only_one_chance" }}
      </p>
      <ped-stepper [currentStepIndex]="0" [stepsLength]="10" />
    </div>
    <div class="content">
      <div class="question">
        <p>1 mezon</p>

        <p>
          Dars maqsadlarining to‘g‘ri qo‘yilishi va ularga erishilganligi
          erishilganligi ularga va qo‘yilish to‘g‘ri maqsadlarining dars
        </p>
      </div>
      <div class="actions">
        <button nz-button nzSize="large" class="point-btn">
          {{ t("prop.bad") }}
        </button>

        <button nz-button nzSize="large" class="point-btn">
          {{ t("prop.norm") }}
        </button>

        <button nz-button nzSize="large" class="point-btn">
          {{ t("prop.good") }}
        </button>

        <button nz-button nzSize="large" class="point-btn">
          {{ t("prop.perfect") }}
        </button>
      </div>
    </div>
    <div class="footer">
      <button nz-button nzSize="large" nzBlock>
        {{ t("prop.back") }}
      </button>

      <button nz-button nzSize="large" nzType="primary" nzBlock>
        {{ t("prop.next") }}
      </button>
    </div>
  </div>
</ng-container>
