@import "colors";
@import "mixins";

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;

  .card {
    padding: 20px 16px;
    border-radius: 16px;
    background: @ped-white-100;
    display: flex;
    flex-direction: column;
    row-gap: 20px;

    .header {
      display: flex;
      align-items: center;
      column-gap: 20px;
      justify-content: space-between;

      .warning {
        padding: 4px 6px;
        background: @ped-grey-100;
        border-radius: 12px;
        flex: 1;
        .text(500,16px,110%);
      }
    }

    .content {
      display: flex;
      flex-direction: column;
      row-gap: 20px;

      .question {
        border: 1px solid @ped-grey-300;
        border-radius: 16px;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        padding: 20px;

        .text(500,16px,110%);
      }

      .actions {
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 20px;
        
        .point-btn {
            padding: 14px 30px;
            height: 50px;
            border-radius: 8px;
        }
      }
    }

    .footer {
      display: flex;
      align-items: center;
      column-gap: 20px;
    }
  }
}
