<div class="surprise-container">
  <div class="hearts">
    @for (heart of hearts; track heart) {
      <span
        [style.left.%]="heart.x * 100"
        [style.animationDelay.s]="-heart.delay * 4"
        [style.fontSize.px]="heart.size"
        >
        💖
      </span>
    }
  </div>

  <h1>Любимая Рухсора❤️</h1>

  <p class="message">
    Если ты это читаешь — значит, я снова думаю о тебе.<br />
    Спасибо, что ты есть в моей жизни.<br />
    Я очень тебя люблю 💕
  </p>

  <button class="love-btn" (click)="close?.()">Я тоже тебя люблю 😘</button>
</div>
