@import "colors";
@import "mixins";

:host {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.toy-card {
  display: flex;
  gap: 16px;
  background: @ped-white-100;
  border-radius: 16px;
  border: 1px solid @ped-grey-200;
  transition: 0.3s all;
  width: 100%;
  align-items: center;

  .media(@media-lg, {
        flex-direction: column;
        gap: 12px;
        align-items: flex-start;
        padding: 16px;
    });
}

.box {
  display: flex;
  flex-direction: column;
  flex: 1;
  row-gap: 20px;
  padding: 18px;

  .step {
    .text(600,20px,110%);
  }
}

.toy-icon {
  flex-shrink: 0;
  width: 210px;
  height: 120px;
  padding: 18px;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.pointing {
  align-self: flex-start;
  border-radius: 0 16px 0 16px;
}

.toy-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
  flex: 1;

  .media(@media-sm, {
        width: 100%;
    });
}

.info-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  overflow: hidden;

  .media(@media-md, {
        flex-direction: column;
        align-items: flex-start;
    });

  .label {
    .text(500, 13px, 100%);
    color: @ped-grey-400;
    margin: 0;
    flex-shrink: 0;
  }

  .value {
    .text(600, 15px, 120%);
    color: @ped-black-100;

    max-width: 400px;
  }
}

.value {
  .text(400, 14px, 140%);
  color: @ped-black-100;
  margin: 0;
  flex: 1;

  .media(@media-sm, {
        font-size: 13px;
        word-break: break-word;
    });
}
