@import 'colors';
@import 'mixins';

.place-item {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    height: 100%;
    overflow: hidden;
    padding: 28px 0;

    .scroll {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        padding: 0 28px;
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;

        .scrollbar();
    }

    .back {
        margin: 0 28px;
        font-size: 14px;
        font-weight: 600;
        min-width: 120px;
        max-width: fit-content;
    }

    .name {
        .text(700,16px,100%);
        padding: 0 28px;
    }

    .description {
        margin-top: 10px;
        .text(500,13px,120%);
    }

    .list {
        margin-top: 8px;
        display: flex;
        flex-direction: column;
        row-gap: 4px;
    }
}