<div class="place-item">
  <button
    nz-button
    nzType="primary"
    class="back border ripple"
    routerLink="../../list"
  >
    <span nz-icon nzType="o:arrowLeft" class="icon"></span>
    <span>Назад</span>
  </button>

  <p class="name">Центр тестирования Ташкент</p>

  <div class="scroll">
    <ped-item [label]="'Описание:'">
      <p class="description">
        ООО Digital Solutions — сертифицированный CVE Service Disabled Veteran
        Owned Small Business (SDVOSB). Мы объединяем услуги кибербезопасности,
        информационных технологий и цепочки поставок, чтобы помочь нашим
        клиентам защитить информацию, модернизировать системы и оптимизировать
        производительность.
      </p>
    </ped-item>
  </div>
</div>
