@import 'colors';
@import 'mixins';

:host {
    display: flex;
    flex-direction: column;
    row-gap: 24px;

    .infos {
        display: flex;
        flex-direction: column;
        row-gap: 6px;

        .media(@media-sm, {
            background: @ped-grey-100;
            padding: 20px;
            border-radius: 16px;
            margin-top: 10px;
        });

        .title {
            .text(600,20px,110%);
        }       

        .description {
            .text(400,14px,110%);
            color: @ped-grey-1100;
        }
    }

    .desc {
        .text(400,18px,110%);
        text-align: center;
    }
}