<ng-container *transloco="let t">
  <ped-application-self-top
    [number]="application()?.applicationNumber"
    [status]="application()?.status"
    [type]="application()?.applicationType"
    [loading]="isSurveyLoading()"
    (load)="loadSurveFile()"
    class="top"
  />

  <div class="box">
    <div class="content">
      <ped-application-self-user
        [status]="application()?.status"
        [user]="user()"
        [externalId]="application()?.externalServiceData?.fromService"
        (onEdit)="onEdit()"
        (onCancel)="onCancel()"
      />

      @if (application()?.rejectReason || lastStatus()?.comment) {
        <ped-application-self-box>
          <div class="list">
            @if (application()?.rejectReason?.reason; as reason) {
              <ped-item
                [type]="'primary'"
                [label]="t('reject_reason')"
                [value]="reason"
                [danger]="true"
              />
            }

            @if (lastStatus(); as lastStatus) {
              @if (lastStatus?.comment) {
                <ped-item
                  [type]="'primary'"
                  [label]="t('last_comment')"
                  [value]="t(lastStatus?.comment)"
                />
                <ped-item
                  [type]="'primary'"
                  [label]="t('last_comment_date')"
                  [value]="lastStatus?.createdAt | date: 'dd.MM.yyyy HH:mm'"
                />
              }
            }
          </div>
        </ped-application-self-box>
      }

      @if (application(); as application) {
        <ped-application-self-box [title]="t('attestation.info.title')">
          <div class="list">
            <ped-item
              [type]="'primary'"
              [label]="t('prop.subject')"
              [value]="application?.subject?.name"
            />
            @if (application.applicationType === 2) {
              <ped-item
                [type]="'primary'"
                [label]="t('prop.attestation_type')"
                [value]="
                  application?.attestationData?.attestationType
                    | enumItem: 'attestationType'
                "
              />
            }
            <ped-item
              [type]="'primary'"
              [label]="t('prop.current_category')"
              [value]="application?.pedagogueCategory | enumItem: 'pedCategory'"
            />
            <ped-item
              [type]="'primary'"
              [label]="t('prop.season')"
              [value]="application?.season?.name"
            />

            @for (file of application?.attachedFiles; track file.id) {
              <div class="file">
                @switch (file.fileType) {
                  @case (1) {
                    <ped-item
                      [type]="'primary'"
                      [label]="t('prop.diploma_file')"
                    />
                  }
                  @case (4) {
                    <ped-item
                      [type]="'primary'"
                      [label]="t('prop.privilege_file')"
                      [value]="application?.privilegeInfo?.name"
                    />
                  }
                  @case (3) {
                    <ped-item
                      [type]="'primary'"
                      [label]="t('prop.additional_file')"
                    />
                  }
                  @default {
                    <ped-item
                      [type]="'primary'"
                      [label]="t('prop.attached_file')"
                    />
                  }
                }
                <ped-item-file
                  [url]="file?.downloadUrl"
                  [type]="file?.downloadUrl | fileType"
                  [name]="file?.orginalName"
                  [isLocal]="false"
                  [mayOpen]="true"
                />
              </div>
            }
          </div>
        </ped-application-self-box>

        <ped-application-self-box [title]="t('work.info.title')">
          <div class="list">
            <ped-item
              [type]="'primary'"
              [label]="t('prop.institution')"
              [value]="application?.institution?.name"
            />
            <ped-item
              [type]="'primary'"
              [label]="t('prop.region')"
              [value]="application?.institution?.district?.region?.name"
            />
            <ped-item
              [type]="'primary'"
              [label]="t('prop.district')"
              [value]="application?.institution?.district?.name"
            />
            <ped-item
              [type]="'primary'"
              [label]="t('prop.inn')"
              [value]="application?.institution?.inn"
            />

            @if (application?.workDetail; as workDetail) {
              <ped-item
                [type]="'primary'"
                [label]="t('profile.workExperience')"
                [value]="
                  (workDetail?.totalWorkExperience
                    | daysToYears
                    | pluralize: 'year') +
                  ', ' +
                  (workDetail?.totalWorkExperience
                    | daysToRemainingMonths
                    | pluralize: 'month') +
                  ', ' +
                  (workDetail?.totalWorkExperience
                    | daysToRemainingDays
                    | pluralize: 'day')
                "
              />

              <ped-item
                [type]="'primary'"
                [label]="t('profile.pedagogueExperience')"
                [value]="
                  (workDetail?.pedagogueWorkExperience
                    | daysToYears
                    | pluralize: 'year') +
                  ', ' +
                  (workDetail?.pedagogueWorkExperience
                    | daysToRemainingMonths
                    | pluralize: 'month') +
                  ', ' +
                  (workDetail?.pedagogueWorkExperience
                    | daysToRemainingDays
                    | pluralize: 'day')
                "
              />
            }
          </div>
        </ped-application-self-box>

        @if (application?.testResult; as result) {
          <div class="row">
            @let mainSubject = result?.resultDirections | resultDirection: 1;

            @let profSubject = result?.resultDirections | resultDirection: 2;

            @let additionalSubject =
              result?.resultDirections | resultDirection: 3;

            <ped-application-self-box [title]="t('test_result.title')">
              <div class="list">
                <ped-item
                  [type]="'primary'"
                  [label]="t('main_question_ball')"
                  [template]="mainQuestionRef"
                />

                <ng-template #mainQuestionRef>
                  {{
                    mainSubject?.questionsCount +
                      (profSubject?.questionsCount ?? 0) | pluralize: "question"
                  }}
                  {{
                    mainSubject?.correctAnswersCount +
                      (profSubject?.correctAnswersCount ?? 0)
                      | pluralize: "right_answer"
                  }}
                  {{
                    mainSubject?.score + (profSubject?.score ?? 0)
                      | pluralize: "ball"
                  }}
                </ng-template>

                @if (additionalSubject) {
                  <ped-item
                    [type]="'primary'"
                    [label]="t('additional_question_ball')"
                    [template]="addQuestionRef"
                  />

                  <ng-template #addQuestionRef>
                    {{
                      additionalSubject?.questionsCount | pluralize: "question"
                    }}
                    {{
                      additionalSubject?.correctAnswersCount
                        | pluralize: "right_answer"
                    }}
                    {{ additionalSubject?.score | pluralize: "ball" }}
                  </ng-template>
                }

                <ped-item
                  [type]="'primary'"
                  [label]="t('result_total')"
                  [value]="
                    result?.resultDirections | resultTotal | pluralize: 'ball'
                  "
                />

                @if (result?.isDisqualified) {
                  <ped-item
                    [type]="'primary'"
                    [label]="t('disqual_reason')"
                    [value]="result?.disqualification"
                  />
                }
              </div>
            </ped-application-self-box>

            @if (result?.resultDirections | hasTy) {
              <ped-application-self-box
                [title]="t('year_teacher_result.title')"
              >
                <div class="list">
                  <ped-item
                    [type]="'primary'"
                    [label]="application?.subject?.name"
                    [template]="mainQuestionRef"
                  />

                  <ng-template #mainQuestionRef>
                    {{ mainSubject?.teacherOfYearScore | pluralize: "ball" }}
                  </ng-template>

                  <ped-item
                    [type]="'primary'"
                    [label]="t('prof_question_ball')"
                    [template]="profQuestionRef"
                  />

                  <ng-template #profQuestionRef>
                    {{ profSubject?.teacherOfYearScore | pluralize: "ball" }}
                  </ng-template>

                  <ped-item
                    [type]="'primary'"
                    [label]="t('additional_question_ball')"
                    [template]="addQuestionRef"
                  />

                  <ng-template #addQuestionRef>
                    {{
                      additionalSubject?.teacherOfYearScore | pluralize: "ball"
                    }}
                  </ng-template>

                  <ped-item
                    [type]="'primary'"
                    [label]="t('result_total')"
                    [value]="
                      result?.resultDirections
                        | resultTotal: 'teacherOfYearScore'
                        | pluralize: 'ball'
                    "
                  />

                  @if (application?.teacherOfYearEventDetail; as tyDetail) {
                    <ped-item
                      [type]="'primary'"
                      [label]="t('ty_place')"
                      [template]="tyPlaceRef"
                    />

                    <ng-template #tyPlaceRef>
                      {{ tyDetail?.position }} - {{ t("ty_position") }}
                    </ng-template>

                    @if (tyDetail?.isSelected) {
                      <ped-item
                        [type]="'primary'"
                        [label]="t('ty_selected_label')"
                        [template]="tySelectedRef"
                      />

                      <ng-template #tySelectedRef>
                        @if (tyDetail?.isSelected) {
                          <span class="selected">{{ t("ty_selected") }}</span>
                        } @else {
                          <span class="not-selected">{{
                            t("ty_not_selected")
                          }}</span>
                        }
                      </ng-template>
                    }
                  }
                </div>
              </ped-application-self-box>
            }
          </div>
        }

        @if (
          application?.attestationData?.attestationType === 2 ||
          application?.attestationData?.attestationType === 3
        ) {
          <ped-application-self-box [title]="t('attestation.info.checkboxes')">
            <div class="list">
              @if (application?.season?.showTeacherOfTheYearOption) {
                @let isYes =
                  application?.attestationData?.applyForTeacherOfTheYear
                    ? "yes"
                    : "no";
                <ped-application-agreement-card
                  [title]="t('year_teacher.title')"
                  [desc]="t('year_teacher.desc')"
                  [ngModel]="isYes"
                  [readonly]="true"
                />
              }
              @if (application?.season?.showMinisterFundAllowanceOption) {
                @let isYes =
                  application?.attestationData?.applyForMinisterFundAllowance
                    ? "yes"
                    : "no";
                <ped-application-agreement-card
                  [title]="t('ministry_font.title')"
                  [desc]="t('ministry_font.desc')"
                  [ngModel]="isYes"
                  [readonly]="true"
                />
              }

              @let isYes =
                application?.attestationData?.hasDisability ? "yes" : "no";

              <ped-application-agreement-card
                [title]="t('injured.title')"
                [ngModel]="isYes"
                [readonly]="true"
              />
            </div>
          </ped-application-self-box>
        }
      }
    </div>
    <div class="sider">
      @if (application()?.paymentInfo; as payment) {
        <ped-application-self-box [title]="t('payment.info.title')">
          <div class="row">
            <ped-item
              [type]="'primary'"
              [label]="t('prop.invoice')"
              [template]="billingDetailRef"
            />
            <ng-template #billingDetailRef>
              {{ updatedInvoiceSerial() || payment?.billingDetail?.serial }}
              @if (paymentInfos().length) {
                <div class="check" *pedPaymentBtnEnable="application()?.status">
                  <button
                    nz-button
                    nzType="primary"
                    nz-dropdown
                    [nzDropdownMenu]="notificationMenu"
                    nzTrigger="click"
                    class="ripple grey load load-mobile"
                  >
                    {{ t("action.use_free_invoices") }}
                  </button>
                  <nz-dropdown-menu #notificationMenu="nzDropdownMenu">
                    <div class="invoices">
                      <nz-radio-group [(ngModel)]="activeInvoice">
                        @for (
                          paymentInfo of paymentInfos();
                          track paymentInfo
                        ) {
                          <label nz-radio [nzValue]="paymentInfo">{{
                            paymentInfo.billingDetail.serial
                          }}</label>
                        }
                      </nz-radio-group>
                      <button
                        nz-button
                        nzType="primary"
                        class="ripple grey load load-mobile"
                        [disabled]="!activeInvoice()"
                        (click)="
                          reUseInvoice(application().id, activeInvoice())
                        "
                      >
                        {{ t("action.reUseInvoice") }}
                      </button>
                    </div>
                  </nz-dropdown-menu>
                </div>
              }
            </ng-template>
            <ped-item
              [type]="'primary'"
              [label]="t('prop.payment_amount')"
              [value]="
                (payment?.amount | number: '1.0-0' : 'ru-RU') +
                ' ' +
                (payment?.amount | pluralize: 'money' : false)
              "
            />
            <ped-item
              [type]="'primary'"
              [label]="t('prop.payment_summa')"
              [value]="
                (payment?.transactions
                  | sumPayedAmount
                  | number: '1.0-0' : 'ru-RU') +
                ' ' +
                (payment?.transactions
                  | sumPayedAmount
                  | pluralize: 'money' : false)
              "
            />
            <ped-item
              [type]="'primary'"
              [label]="t('prop.payment_system')"
              [value]="payment?.fromService | enumItem: 'externalService'"
            />

            <div class="check">
              <p class="check-title">{{ t("download_check") }}:</p>

              <button
                nz-button
                nzType="primary"
                [nzLoading]="isCheckLoading()"
                class="ripple grey load load-mobile"
                (click)="loadCheck()"
              >
                <span nz-icon nzType="o:download"></span>
                {{ t("action.check_load") }}
              </button>
            </div>

            <ng-container
              *pedExternal="application()?.externalServiceData?.fromService"
            >
              <div class="check" *pedPaymentBtnEnable="application()?.status">
                <p class="check-title">{{ t("payment_by_card") }}:</p>

                <button
                  nz-button
                  nzType="primary"
                  [nzLoading]="isPaymentLoading()"
                  class="ripple grey load load-mobile"
                  (click)="loadPaymnetRedirect()"
                >
                  <span nz-icon nzType="o:creditCardCheck"></span>
                  {{ t("action.payment_by_card") }}
                </button>
              </div>
            </ng-container>
          </div>
        </ped-application-self-box>
      }
    </div>
  </div>
</ng-container>
