@import 'colors';
@import 'mixins';

:host {
    display: flex;
    flex-direction: column;
    row-gap: 24px;

    .title {
        .text(600,20px,110%);
        padding-bottom: 30px;
        border-bottom: 1px solid @ped-grey-300;

        .media(@media-sm, {
            padding-bottom: 20px;
        });
    }       

    .list {
        display: flex;
        flex-direction: column;
        row-gap: 24px;

        .box {
            display: flex;
            flex-direction: column;
            row-gap: 12px;

            .subtitle {
                .text(600,14px,110%);
                color: @ped-blue-100;
            }

            .card {
                display: grid;
                grid-template-columns: repeat(2,1fr);
                gap: 16px;
                padding: 24px;
                border-radius: 16px;
                background: @ped-white-100;

                .media(@media-sm, {
                    padding: 0 0 20px 0;
                    border-bottom: 1px solid @ped-grey-300;
                    border-radius: 0;

                    &.last {
                        border-bottom: none;
                    }
                });

                .media(@media-xs, {
                    grid-template-columns: repeat(1, 1fr)
                });

                .item {
                    display: flex;
                    flex-direction: column;
                    row-gap: 4px;

                    .label {
                        color: @ped-blue-100;
                        font-size: 14px;
                    }

                    .value {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}